
body{
    padding-left: 30%;
    padding-top: 5%;
}
body table{
    display: flexbox;
    background-color:rgb(19, 20, 19);
    padding:10px;    
}
button {
    width: 60px;
    height: 60px;
    background-color:slategrey;
}
#resp {
    float: left;
    width: 253px;
    height: 50px;
    font-size: 40px;
    text-align: right;
    background-color: white;
    /*background-color: white;*/
}

#cero {
width: 100%;
}
#sum,#res,#multi,#div,#pun{
    background-color:burlywood;
    color: black;
    
}

#borrar{
    width: 100%;
    background-color: chocolate;
}

#igual{
    background-color: chocolate;
}